body {
    background-color:black;
    text-align:center;
}
.white {
    color:white;
}
.verdana {
    font-family:Verdana;
}
h1 {
    font-weight: normal;
    font-size: 50px;
}
h2 {
    font-weight: 300;
    font-size:42px;
}
#excursionDownload {
    color: Aquamarine;
    font-size: 16px;
}
.copyright {
    text-align:right;
    color:gray;
}
.paragraph {
    font-size:21px;
    color:gray;
}